{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="r_A88QvdT4obsn0vig1pKeLcvW9YYcGIzlAnf2wuSyA" />
<meta name="msvalidate.01" content="A2AAC88F8F88793792513019E14BF723" />
    <meta name="description" content="To activate your UCard on UnitedHealthcare, visit the official activation page at activate.uhc.com. You may need to log in or register for a UnitedHealthcare member account to complete the  UnitedHealthcare activation." />
    <meta name="keywords" content="activate.uhc.com, activate.uhc.com login, activate uhc card online login, united health care login, activate.uhc.com ucard, activate uhc ucard card, ucardhub.uhc.com, myuhc.com, activate uhc website" />
    <meta name="robots" content="index, follow" />
    <title>Activate.uhc.com - Secure Portal to Activate your UCard on UnitedHealthcare</title>
    {{ super() }}
{% endblock %}
